<!DOCTYPE html>
<html>
<head>
  <title>leaflet-map-simple</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <!-- Load Leaflet code library: see http://leafletjs.com/download.html -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'script.js' %}"></script>

  <!-- Position the map and title with Cascading Style Sheet (CSS) -->
</head>
<body>


  <!-- Display the map and title with HTML division tags  -->
  <div id="map"></div>

  <!-- Create the interactive map content with JavaScript (.js) -->
  <script>

  </script>
  <div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="https://www.github.com/cfalas/extinguisher">Github</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <script>
  /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</div>
</body>
</html>
